<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-text">
                Welcome, {{first_name}}!
            </span>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="btn nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link" href="/question/">Edit Question Groups</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            {% if question_groups %}
            <table class="table table-hover mt-5">
                <caption>Question Group List</caption>
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Question Group</th>
                    </tr>
                </thead>
                {% for question_group in question_groups %}
                <tbody>
                    <tr>
                        <td><a href="{{question_group.id}}/">{{question_group.group_name }}</a></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endif %}
            {% if completed_groups %}
            <table class="table table-hover mt-5 qg-table">
                <caption>Completed Question Group List</caption>
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Question Group</th>
                    </tr>
                </thead>
                {% for completed_group in completed_groups %}
                <tbody>
                    <tr>
                        <td>
                            <form action="question_group/{{completed_group.id}}/" method="POST" class="question-group-select">
                                {% csrf_token %}
                                <input type="hidden" id="qg-num" name="qg-num" value="{{completed_group.id}}">
                                <button type="submit" class="btn btn-link">{{completed_group.group_name }}</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endif %}
            <div class="question-group-viewer">

            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script>
            $(".qg-table tr").click(function() {
                $(this).parent().parent().children().children().removeClass('table-success');
                $(this).addClass('table-success');
            })
            $('body').on("submit", ".question-group-select", function(e) {
                e.preventDefault();
                $.ajax({
                    url: 'review/',
                    method: 'post',
                    data: $(this).serialize(),
                    success: function(ServerResponse) {
                        $('.question-group-viewer').html(ServerResponse)
                    }
                });
            });
        </script>
    </body>
</html>