<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-text">
                Welcome, {{first_name}}!
            </span>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="btn nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary nav-link" href="stats/">View stats</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="btn btn-secondary nav-link" href="new/">Make a wish!</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            {% if wishes %}
            <div class="row mt-4">
                <div class="col">
                    <h4>Your wish list:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-hover table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Date added</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for wish in wishes %}
                            <tr>
                                <th>{{wish.item}}</th>
                                <th>{{wish.created_at|date:"N j Y"}}</th>
                                <th><a href="delete/{{wish.id}}">Remove</a> | <a href="edit/{{wish.id}}">Edit</a> | <a href="grant/{{wish.id}}">Granted!</a></th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            {% if granted_wishes %}
            <div class="row mt-4">
                <div class="col">
                    <h4>Granted wishes:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-hover table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Wisher</th>
                                <th scope="col">Date added</th>
                                <th scope="col">Date Granted</th>
                                <th scope="col">Likes</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for granted in granted_wishes %}
                            <tr>
                                <th>{{granted.item}}</th>
                                <th>{{granted.wisher.first_name}}</th>
                                <th>{{granted.created_at|date:"N j Y"}}</th>
                                <th>{{granted.date_granted|date:"N j Y"}}</th>
                                <th>{{granted.likes.all.count}}</th>
                                <th>
                                    {% if granted.wisher.id != user_id %}
                                    <a href="like/{{granted.id}}">Like</a>
                                    {% endif %}
                                </th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>